body,html{
    width: 100wh;
    height: 100vh;
    margin: 0;

}
html{
    overflow:hidden;
}
*{
    box-sizing: border-box;
}

.container{
    display: flex;
}

.image-section{
    background-image: url("./img/neom-AC3T7tvwPrY-unsplash.jpg");
    width: 600px;
    height: 100vh;
    background-size: cover;
}

